* {
    margin: 0;
    padding: 0;
}

.gnb {
    overflow: hidden;
    background-color: black;
    height: 30px;
}

    .gnb ul {
        margin: 0 auto;
        width: 1000px;
        height: 30px;
    }

        .gnb ul li {
            float: left;
            list-style: none;
            height: 30px;
            margin: 0 0 0 50px;
        }

            .gnb ul li a {
                display: block;
                color: white;
                text-decoration: none;
                text-align: center;
            }

.logo {
    width: 200px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    border: 1px solid lightgray;
    margin: 40px auto;
}

.hitmenu {
    overflow: hidden;
}

    .hitmenu ul {
        width: 1000px;
        height: 32px;
        margin: 0 auto;
    }

        .hitmenu ul li {
            float: right;
            width: 80px;
            height: 30px;
            border: 1px solid lightgray;
            text-align: center;
            line-height: 30px;
            font-weight: bold;
            list-style: none;
        }

            .hitmenu ul li a {
                display: block;
                text-decoration: none;
                color: black;
            }

    .hitmenu li:nth-child(1) {
        border-radius: 0 8px 8px 0;
    }

    .hitmenu li:nth-child(4) {
        border-radius: 8px 0 0 8px;
    }

.lnb {
    overflow: hidden;
    height: 30px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

    .lnb ul {
        width: 1000px;
        height: 30px;
        margin: 0 auto;
    }

        .lnb ul li {
            float: left;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-weight: bold;
            list-style: none;
            margin-left: 65px;
        }

            .lnb ul li a {
                display: block;
                text-decoration: none;
                color: black;
            }

#content {
    overflow: hidden;
}

    #content .section1 {
        width: 1000px;
        height: 400px;
        margin: 0 auto;
    }

        #content .section1 .siide_banner {
            float: left;
            text-align: center;
            line-height: 398px;
        }

            #content .section1 .siide_banner:nth-child(1) {
                width: 698px;
                height: 398px;
                border: 1px solid lightgray;
            }

            #content .section1 .siide_banner:nth-child(2) {
                width: 298px;
                height: 398px;
                border: 1px solid lightgray;
            }

    #content .section2 {
        width: 1003px;
        height: 814px;
        margin: 0 auto;
        border: 1px solid lightgray;
        overflow: hidden;
    }

        #content .section2 .hit_product div {
            float: left;
            width: 240px;
            height: 400px;
            border: 1px solid lightgray;
            margin-left: 3.5px;
            margin-right: 3.5px;
            margin-bottom: 10px;
            text-align: center;
            line-height: 400px;
        }

        #content .section2 .md_product div {
            float: left;
            width: 240px;
            height: 400px;
            border: 1px solid lightgray;
            margin-left: 3.5px;
            margin-right: 3.5px;
            text-align: center;
            line-height: 400px;
        }

#footer {
    width: 1002px;
    height: 130px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid lightgray;
}

    #footer .office_logo {
        float: left;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        width: 200px;
        height: 98px;
        margin-bottom: 2px;
    }

    #footer .office_address {
        float: left;
        width: 500px;
        height: 98px;
        border-bottom: 1px solid lightgray;
        margin-bottom: 2px;
    }

    #footer .shopping_info {
        float: left;
        border-left: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        width: 300px;
        height: 98px;
        margin-bottom: 2px;
    }

    #footer .copyright {
        width: 1000px;
        height: 30px;
        float: left;
        text-align: center;
        background-color: black;
        color: white;
        line-height: 30px;
    }
